<%#
 文章实现.

 局部变量:
  isIndex: 是否是首页,首页页直接嵌入归档,但是首页的显示方式与独立的归档页显示方式不同
  post: 全局变量'page'
%>

<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>"
  itemscope
  itemprop="blogPost"
  data-scroll-reveal
>
  <div class="article-inner">
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% }
    if (isIndex || is_post()) { %>
      <div class="article-meta">
        <span class="article-date">
          <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, null) %></time>
        </span>
        <%- partial('post/category') %>
        <% if(theme.word_count && theme.word_count.enable && !post.no_word_count){%>
          <%- partial('post/word') %>
        <% } %>
      </div>
    <% }
    // Tocbot(文章目录)
    if (theme.toc && is_post() && !post.no_toc && toc(post.content).length > 0) { %>
      <div class="tocbot"></div>
    <% }
    if (!theme.excerpt_all || !isIndex) { %>
      <div class="article-entry" itemprop="articleBody">
        <%- partial('post/justifiedGallery') %>
        <%- partial('post/gallery') %>
        <% if (post.excerpt && isIndex){ %>
          <%- post.excerpt %>
          <%
          if (theme.excerpt_link) { %>
            <a class="article-more-link" href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a>
          <% }
        } else { %>
          <%- post.content %>
        <%
        } %>

        <%# reward(打赏) %>
        <% if ((theme.reward_type === 2 || (theme.reward_type === 1 && post.reward)) && !isIndex && !post.no_reward){ %>
        <div id="reword-out">
          <div id="reward-btn">
            <%= __('post.reward') %>
          </div>
        </div>
        <% } %>

      </div>
    <%
    }

    <!-- copyright -->
    if (((theme.copyright_type === 2) || (theme.copyright_type === 1 && post.copyright)) && !isIndex){ %>
    <div class="declare">
      <ul class="post-copyright">
        <li>
          <i class="ri-copyright-line"></i>
          <strong><%= __('post.copyright_title') %>： </strong>
          <% if (post.copyright_content) { %>
          <%= post.copyright_content %>
          <% } else { %>
          <%= __('post.copyright_content') %>
          <% } %>
        </li>
      </ul>
    </div>
    <% } %>
    <footer class="article-footer">
      <% if (!isIndex && theme.share_enable){ %>
        <%- partial('post/share') %>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>

  <% if (!isIndex) { %>
    <%- partial('post/nav') %>
  <% } %>
  <%# 评论 %>
  <% if (theme.valine && theme.valine.enable && !post.no_valine) { %>
    <%- partial('post/valine') %>
  <% } %>
  <% if (is_post()) { %>
    <%- partial('post/gitalk') %>
  <% } %>
  <% if(theme.minivaline && theme.minivaline.enable && !post.no_minivaline) { %>
    <%- partial('post/minivaline') %>
  <% } %>
  <% if (is_post()) { %>
    <%- partial('post/twikoo') %>
  <% } %>
</article>
