<footer class="footer">
  <div class="outer">
    <ul>
      <%# 版权 %>
      <li>
        Copyrights &copy; <%- theme.since%> - <%= date(new Date(), 'YYYY') %>
        <i class="ri-heart-fill heart_icon"></i> <%= config.author || config.title %>
      </li>
      <%# 技术栈说明 %>
      <li>
        主要技术栈:
        <a href="https://hexo.io/zh-cn/" target="_blank" title="静态博客框架">hexo</a>
        +
        <a href="https://github.com/Shen-Yu/hexo-theme-ayer" target="_blank" title="博客主题(略修改)">ayer</a>
        +
        <a href="https://www.aliyun.com/product/oss" target="_blank" title="阿里云对象存储服务，配合其静态网站功能用于部署博客内容">oss</a>
      </li>
      <%# 不蒜子统计 %>
      <% if (theme.busuanzi && theme.busuanzi.enable){ %>
        <li><%- partial('post/busuanzi') %></li>
      <% } %>
      <%# cnzz统计 %>
      <% if (theme.cnzz && theme.cnzz.enable){ %>
        <li><script type="text/javascript" src='<%= theme.cnzz.url%>'></script></li>
      <% } %>
      <%# icp备案 %>
      <% if (theme.icp&&theme.icp.enable){ %>
        <li>
          <a href="<%= theme.icp.url %>" target="_black" rel="nofollow"><%= theme.icp.text %></a>
        </li>
      <% } %>
      <%# 公安安备 %>
      <% if (theme.gongan && theme.gongan.enable){ %>
        <li>
          <img src="<%= theme.gongan.img %>" alt="公安安备"/>
          <a href="<%= theme.gongan.url %>" target="_black" rel="nofollow"><%= theme.gongan.text %></a>
        </li>
      <% } %>
    </ul>
  </div>
</footer>
