<% if (page.prev || page.next){ %>
  <nav class="article-nav">
    <% if (page.prev){ %>
      <a href="<%- url_for(page.prev.path) %>" class="article-nav-link">
        <strong class="article-nav-caption"><%- theme.nav_text.post_prev %></strong>
        <div class="article-nav-title">
          <% if (page.prev.title){ %>
            <%= page.prev.title %>
          <% } else { %>
            (no title)
          <% } %>
        </div>
      </a>
    <% } %>
    <% if (page.next){ %>
      <a href="<%- url_for(page.next.path) %>" class="article-nav-link">
        <strong class="article-nav-caption"><%- theme.nav_text.post_next %></strong>
        <div class="article-nav-title"><%= page.next.title %></div>
      </a>
    <% } %>
  </nav>
<% } %>
