<%#
 字数统计.

 局部变量:
  isIndex: 是否是首页,首页页直接嵌入归档,但是首页的显示方式与独立的归档页显示方式不同
%>

<% if (!theme.word_count.only_article_visit || (!isIndex && theme.word_count.only_article_visit)){ %>
<div class="word_count">
    <span class="post-time">
        <span class="post-meta-item-icon">
            <i class="ri-quill-pen-line"></i>
            <span class="post-meta-item-text"> <%= __('post.word_count') %>:</span>
            <span class="post-count"><%= wordcount(page.content) %></span>
        </span>
    </span>

    <span class="post-time">
        &nbsp; | &nbsp;
        <span class="post-meta-item-icon">
            <i class="ri-book-open-line"></i>
            <span class="post-meta-item-text"> <%= __('post.read_time') %>≈</span>
            <span class="post-count"><%= min2read(page.content) %> <%= __('post.minutes') %></span>
        </span>
    </span>
</div>
<% } %>
